# cloud-init configuration
users:
  - name: ubuntu
    passwd: $6$da.Pe8CYBmP4XCmS$phmyjZZpBQ.Em60Q5vMTh2CcBuLmdyAfS9t5J6852FbLj0BcH5hrF0STZTR1D1UIdhDiuBLcFWcyMWt3P533M1
    ssh-authorized-keys:
      {% for key in ssh_keys %}
      - {{ key }}
      {% endfor %}

chpasswd:
  expire: false
