#cloud-config
users:
  - name: runner
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: sudo
    shell: /bin/bash
    lock_passwd: false
    passwd: "runner"

chpasswd:
  expire: false
  list:
    - runner:runner

ssh_pwauth: true

final_message: "Cloud-init setup complete"

