network:
  version: 2
  render: networkd
  ethernets:
    enp1s0:
      dhcp4: no
      addresses:
        - {{ item.host }}/24
      gateway4: 192.168.122.1
      nameservers:
        addresses:
          - 8.8.8.8
          - 1.1.1.1
