#cloud-config
password: password
chpasswd:
  expire: False

write_files:
  - path: /home/ubuntu/connect-runner.sh
    permissions: '0755'
    encoding: b64
    content: |
      {{ encoded_script }}
runcmd:
  - apt update
  - apt install -y qemu-guest-agent
  - apt install -y jq
  - chmod a+x /home/ubuntu/connect-runner.sh
  - sudo -u ubuntu -i -- /home/ubuntu/connect-runner.sh
