#cloud-config
password: password
chpasswd:
  expire: False

write_files:
  - path: /home/ubuntu/connect-runner.sh
    permissions: '0755'
    encoding: b64
    content: |
      {{ encoded_script }}

package_update: true
package_upgrade: true
packages:
  - qemu-guest-agent
  - jq
  - build-essential

runcmd:
  - apt update
  - apt install -y qemu-guest-agent
  - apt install -y jq
  - sudo -u ubuntu -i -- bash /home/ubuntu/connect-runner.sh
  - chown ubuntu:ubuntu /home/ubuntu/
