#cloud-config
password: password
chpasswd:
  expire: False

write_files:
  - path: /home/ubuntu/connect-runner.sh
    permissions: '0755'
    encoding: b64
    content: |
      {{ encoded_script }}
  - path: /etc/docker/daemon.json
    owner: root:root
    permissions: '0644'
    content: |
      {
        "insecure-registries": {{ github_runner.docker_insecure_registries | to_json }}
      }

package_update: true
package_upgrade: true
packages:
  - jq
  - build-essential
  - curl
  - git
  - make
  - snapd
  - qemu-user-static
  - binfmt-support
  - qemu
  - qemu-utils
  - qemu-system-x86
  - qemu-guest-agent
  - qemu-system-aarch64
  - qemu-system-misc

snap:
  commands:
    - snap install go --classic

runcmd:
  - apt update
  - apt install -y qemu-guest-agent
  - apt install -y jq
  - sudo -u ubuntu -i -- bash /home/ubuntu/connect-runner.sh
  - chown ubuntu:ubuntu /home/ubuntu/
  - usermod -aG kvm ubuntu
  - usermod -aG docker ubuntu
  - newgrp docker

